<h1>Log In</h1>

<%= form_for @user, {url: session_path} do |f| %>
  <%= f.text_field :email, placeholder: "Email Here..." %>
  <%= f.password_field :password, placeholder: "Password Here..." %>
  <%= f.submit "Log in"%>
<% end %>