<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @current_user.name %>, welcome to What 2 Eat Tonight!</h1>
<!--     <p>
      Go get some fucking food at: <%= @restaurant %>.<br>
    </p> -->
    <p>Thanks for joining and have a great day! </p>
    <p>Cheers, </p>
    <p>Ian</p>
  </body>
</html>