<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @user.name %>, welcome to What 2 Eat Tonight!</h1>
    <p>
      Your new username is: <%= @user.name %>.<br>
    </p>
    <p>
      Sometimes people forget their password. That's stupid. To resolve this we give you this email. I recommend you save it.
    </p>
    <p>
      If you are ever dumb enough to lose your password feel free to visit this link to change it: <a href=<%=@url%>>Click this link</a>
    </p>
    <p>Thanks for joining and have a great day! </p>
    <p>Cheers, </p>
    <p>Ian</p>
  </body>
</html>