/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #ffffff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333333;
}
body {
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}


/* Menu */

.menu-container {
  position: fixed;
  width: 267px;
  height: 100%;
  left: -200px;
  padding: 0;
  transition: left 0.3s ease;
  z-index: 50;
}
.menu-container:hover {
  left:0px;

}
.menu {
  background-color: rgba(0,0,0,0.3);
  height: 100%;
}
.menu-hover {
  height: 100%;
}

/* Contact */

.contact-container {
  width: 300px;
  position: fixed;
  right: -250px;
  bottom: 50px;
  transition: right 0.3s ease;
}
.contact-container:hover {
  right: 0;
}
.creator {
  font-size: 20px;
}

/* Forms */

.well h3 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 20px;
}
#signupForm .input-group {
    margin-bottom: 20px;
}

.inline-block > li {
    position: relative;
    display: inline-block;
    margin: 0 10px 10px 0;
}

*/
@media (max-width: 768px) {
    #social-sign-in .icon-5x {
        font-size: 7em;
    }
}
@media (max-width: 480px) {
    #social-sign-in .icon-5x {
        font-size: 4.5em;
    }
}
@media (min-width: 1199px) {
    #social-sign-in .icon-5x {
        font-size: 7em;
    }
}

/* Username */

.user {
  margin: 20px;
  position: fixed;
  right: 0;
}

.comments {
  margin: 20px;
  position: fixed;
  right: 0;
  top: 50px;
}