<div id="background-carousel">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image:url(http://placehold.it/1600x800/)"></div>
        <% @images.shuffle.each do |i| %>
          <div class="item" style="background-image:url(
          <%= i.image.url %>)" ng-click="modal('<%= i.restaurant %>', '<%= i.location %>', '<%= i.user.name %>')"></div>
        <% end %> 
      </div>
    </div>
</div>
